table {
  position: center !important;
  border: 3px solid black;
  border-collapse: collapse;
} 

th, td {
  border: 3px solid black;
  border-collapse: collapse;
  height: 100px;
  width: 100px;
}

button {
  background: transparent;
  border: none;
  /* font-size:0;*/
}